<h1>Appointments</h1>
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p> <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
<p> <%= @appointment.appointment_datetime %> </p>
