<h1>Patients</h1>

	<ul>
		<% @patients.each do |patient| %>
  	<li>
  			<%= patient_path(@patient.name) %>
  			"Number of appointments:" 
  			<%= Appointment.count(:all) %>
  	</li>
	<% end %>
</ul>