<h3>Patients</h3>

<ul>
  <% @patients.sort_by{|p| p.name}.each do |p| %>
    <li>
      Name: <%= link_to p.name, patient_path(p) %>
       Number of Appointments: <%= p.appointments.count %>
    </li>
  <% end %>
</ul>
