   <h1> Patients in Seatle Grace</h1>
    <ul>
    <% @patients.each do |patient| %>
    <li>
        Name: <%= link_to patient.name, patient_path(patient) %> 
        Number of Appointments: <%= patient.appointments.length %>
    </li>
<%end%>
</ul>