<ul>
  <% @patients.each do |patient| %>
    <li><%= link_to patient.name, patient_path(patient)%>
    	Name: <%= patient.name %>
        Number of Appointments: <%= patient.appointments.count %>
    </li>
  <% end %>
</ul>