
<ul>
  <% @patients.each do |patient| %>
    <li>Name: <%= link_to patient.name, patient_path(patient) %> Number of Appointments: <%= patient.number_of_appointments %></li>
    <br>
  <% end %>
</ul>
