<h1>Patient Index</h1>

<ul>
<% @patients.each do |patient| %>
  <p>Name: <%= link_to patient.name, patient_path(patient) %> Number of Appointments: <%= patient.appointments.count %></p>
<% end %>
</ul>