<h1>Patients:</h1>
<% @patients.each do |patient| %>
  <ul>
    <li>Name: <%= link_to patient.name, patient_path(patient) %></li>
    <li>Number of Appointments: <%= patient.appointments.count %>
  </ul>
<% end %>
