<h1>All Patients</h1>

<ul>
  <% @patients.each do |patient| %>
    <li>
      <p>Name: <%= link_to patient.name, patient_path(patient) %></p>
      <p>Number of Appointments: <%= patient.appt_count %></p>
    </li>
  <% end %>
</ul>