<h1>Patient Directory</h1>
<ul>
  <% @patients.each do |patient| %>
    <li>
      Name: <%= link_to patient.name, patient %> Number of Appointments: <%= patient.appointments.count %>
    </li>
  <% end %>
</ul>
