<h1>Patients</h1>
<ul>
  <% @patients.each do |patient| %>
    <li><strong>Name: </strong><%= patient.name %> <strong>Number of Appointments: </strong><%= patient.appointments.count %></li><br>
  <% end%>
</ul>