<ul>
<% @patients.each do |patient| %>
    <li>Name: <%= link_to patient.name, patient_path(patient.id) %> 
    Number of Appointments: <%= patient.appointments.count %> appointments.</li>
  <% end %>
</ul>