<h1>Patients</h1>
<p>
    <ul>
    <% @patients.each do |patient| %>
        <li><strong>Name: <%= link_to patient.name, patient_path(patient) %> <strong>
        Number of Appointments: <%= pluralize(patient.appointment_count, 'appointment') %></li>
    <% end %>
    </ul>
</p>