<h1>Patients Directory:</h1>
  <ul>
    <%Patient.all.each do |patient|%>
      <li>Name: <%=link_to patient.name, patient_path(patient)%> Number of Appointments: <%=patient.appointments.length%></li>
    <%end%>
  </ul>
