<h1> All Patients </h1>
<ul>
<% @patients.each do |pat| %>
<li>
  Name: <%= link_to pat.name, patient_path(pat) %>
  Number of Appointments: <%= pluralize(pat.appointments.count, 'patient') %>
</li>
<%end%>
</ul>
