<ul>
<% @patients.each do |patient| %>
  <li>
    Name: <%= patient.name %> Number of Appointments: <%= patient.appointments.count %><br>
    <% patient.appointments.each do |appointment| %>
      <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
    <% end %>
  </li>
<% end %>
</ul>
