<h2>Patients of Seattle Grace Hospital:</h2>
 <ul>
  <% @patients.each do |patient| %>
    Name: <%= link_to patient.name, patient_path(patient) %> <br>
    Number of Appointments: <%= patient.appointments.count %> <br>
    <br>
  <% end %>
</ul>