<h1>Patients</h1>
<ul>
  <%@patients.each do |patient| %>
    <li><%=link_to "#{"Name: " + patient.name + " " +"Number of Appointments: "+patient.appointments.size.to_s}", patient_path(patient)%></li>
  <% end %>
</ul>
