<h1>Patients</h1>
<p> There are <%= pluralize(@patients.count, "patient") %></p>

<ul>
  <% @patients.each do |patient| %>
    <li> Name: <%= link_to patient.name, patient %> Number of Appointments: <%= patient.appointments.count %></li>
  <% end %>
</ul>