<ul>
<%= @patients.each do |patient| %>
	<li>Name: <%= link_to patient.name, patient_path(patient) %></li>
	<li>Number of Appointments: <%= pluralize(patient.appointments.count, "appointment") %></li>
<% end %>
</ul>