<h1>All Patients</h1>
<ul>
<% Patient.all.each do |p| %>
  <li>
    Name: <%=link_to p.name, patient_path(p)%><br>
    Number of Appointments: <%= pluralize(p.appointments.count, 'appointment') %>
  </li>
<%end%>
</ul>
