<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <ul>
    <% @patients.each do |patient| %>
      <li>
        <td>Name: <%= patient.name %></td>
				<td>Number of Appointments: <%= patient.appointment_count %></td>
      </li>
    <% end %>
  </ul>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
