<h1>Patients</h1>

	<ul>
		<% @patients.each do |patient| %>
  	<li>
  		Name: <%= link_to patient.name, patient_path(@patients) %> Number of Appointments: <%= Appointment.count(:all) %>
  	</li>
	<% end %>
</ul>


<!--Create a Patient#index page that 
	 []	displays a link to each patient's show page 
	 [x]	displays the total number of appointments they have