<h1>Patients</h1>
<ul>
  <% @patients.each do |patient| %>
      <li>
      <b>Name:</b> <%= link_to patient.name, patient_path(patient) %><br>
      <b>Number of Appointments:</b> <%= patient.appointments.count %>
      </li><br></br>
  <%end%>
</ul>