<h2> Patient List </h2>

<ul>
<% @patients.each do |patient| %>
    <% #binding.pry %>
        <li> Name: <%= patient.name %> Number of Appointments: <%= patient.appointments.count %> </li>
  <% end %>
</ul>   

