<h1>Patient Index</h1>

<ul>
  <% @patients.each do |patient| %>
  <li>
  <h1>Name: <%= link_to patient.name, patient_path(patient) %></h1>
  Number of Appointments: <%= patient.appointments.count %>
  </li>
  <% end %>
</ul>