<h2><%= @patient.name %></h2>
<h3>Appointments</h3>
<ul>
  <% @patient.appointments.each do |appt| %>
    <li><%= appt.to_string %> - <%= link_to appt.doctor_name, doctor_path(appt.doctor) %></li>
  <% end %>
</ul>
