<h1> <%= @patient.name %> </h1>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
      &nbsp;
      Appointment: <%= appointment.human_readable_time %>
    </li>
  <% end %>
</ul>