<h1><%= @patient.name%>'s Appointments</h1>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>                <!-- January 12, 2016 at 3:00 -->
      <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M %P") %>
      with <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
    </li>
  <% end %>
</ul>