<%= @patient.name %>

<ul>
<%= @patient.appointments.each do |appointment| %>
    <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor)%>, <%= appointment.readable_date %></li>
  <%end%>
</ul>
