<h2><%= @patient.name %></h2>
<h3><%= @patient.age %></h3>

<p>Appointments:</p>
<ul>
  <% @patient.appointments.each do |a| %>
    <li><%= a.readable_time %> with Dr. <%= link_to a.doctor.name, doctor_path(a.doctor) %></li>
  <% end %>
</ul>
