<h2>Your Appointments:</h2>
<ul>
  <% @patient.appointments.each do |appointment| %>
  <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor)%> <%=appointment.app_date %></li>
  <%end%>
</ul>
