<h1>Patient: <%= @patient.name %></h1>
<h2>Your Appointments: </h2>

<% @patient.appointments.each do |appointment| %>
  <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> with
  <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
<% end %>
