<h1>Patient: <%= @patient.name %></h1>


<table>
  <tr>
    <th>Doctor</th>
    <th>Time</th>
  </tr>
  <% @patient.appointments.each do |appointment| %>
    <tr>
      <td> <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></td>
      <td> <%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></td>
    </tr>
  <% end %>
</table>