<h1>Patient <%=@patient.name%>'s Appointments:</h1>
<ul>
  <%@patient.appointments.each do |apt|%>
  <li><%=apt.time%> with <%= link_to apt.doctor_name, doctor_path(apt.doctor)%></li>
  <%end%>
</ul>
