<h2> <%= @patient.name %></h2>

<h3>Appointments</h2>

<ul>
<% @patient.appointments.each do |appointment| %>
  <li><%= appointment.appointment_datetime %><br>
  <li><%= appointment.doctor.name %><br>
    <li><%= link_to @doctor.name, doctors_path(appointment) %></li>
<% end %>
</ul>
