
<p>
  Name: <%= @patient.name %>
  <br>
  Appointments:

  <% @patient.appointments.each do |appt| %>
  <ul>
    <li> <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
    <li> <%= link_to appt.doctor.name, appt.doctor %></li>
  </ul>
  <%end%>
</p>
