<h1><%= @patient.name %></h1>

<h3>Age: <%= @patient.age %></h3>

<h4> Appointments: </h4>

<ul>
<% @patient.appointments.each do |appt| %>
  <li><%= link_to appt.appointment_datetime.strftime("%B %e, %Y at %k:%M"), appointment_path(appt) %> - <%= link_to appt.doctor.name, doctor_path(appt.doctor) %></li>
<% end %>
</ul>
