<h2><%= @patient.name %> Appointments:</h2>

<% @patient.appointments.each do |appointment| %>
  <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
  <br>

  When: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%><br>
<% end %>
