<%= @patient.name %><br>
<ul>
<% @patient.appointments.each do |a| %>
<li> <%= a.appointment_datetime.strftime("%B %d, %Y at %k:%M") %> | <%= link_to a.doctor.name, doctor_path(a.doctor) %></li>
<% end %>
</ul>
