<h1><%=@patient.name%></h1>
<h3><%=@patient.age%></h3>
<%@patient.doctors.each do |doctor|%>
<h4><%link_to doctor.name, doctor_path(doctor)%></h4><br>

<%end%>
<%@patient.appointments.each do |app|%>
<h4><%=app.appointment_datetime.strftime("%B %d, %Y at %H:%M")%> - <%=link_to app.doctor.name, doctor_path(app.doctor)%></h4>
<%end%>
