<h1><%= @patient.name %></h1>

<ul>
  <%= @patient.appointments.each do |appt| %>
  <li><%= appt.appointment_time %> with <%= link_to appt.doctor.name, doctor_path(appt.doctor) %></li>
  <% end %>
</ul>