<h1><%= @patient.name %></h1>
<h3>Age: <%= @patient.age %></h3>

<h3>Appointments:</h3>
<% @patient.appointments.each do |appt| %>
  <p>
    <%= appt.appointment_datetime.strftime('%B %d, %Y at %H:%M') %><br/>
    <%= link_to appt.doctor.name, doctor_path(appt.doctor) %>
  </p>
<% end %>