<h3><%= @patient.name %></h3>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime('%B %d, %Y') %> at <%= appointment.appointment_datetime.strftime('%H:%M') %> with <%= link_to appointment.doctor_name, doctor_path(appointment.doctor)%></li>
  <% end %>
</ul>
