<h1><%= @patient.name %></h1>

<ul>
<% @patient.appointments.each do |app|%>
	<li><%= link_to app.doctor.name, app.doctor%>, on <%= app.appointment_datetime.strftime("%B %d, %Y") %> at <%= app.appointment_datetime.strftime("%H:%M")%></li>
<% end %>
</ul>