<h1><%=@patient.name%></h1>

<ul>
    
    <% @patient.appointments.each do |appointment| %>
        <li>
            <%= appointment.formatted_appointment_date %>
            <b><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></b>
        </li>
    <%end%>
    
</ul>


