<h1>Patients#show</h1>

<%= @patient.name %>

Appointments: 
<% @appointments.each do |appointment| %>
<%= appointment.appointment_datetime.strftime('%B %d, %Y')%>
at 
<%= appointment.appointment_datetime.strftime('%H:%M')%><br>
with Doctor: 
<%= link_to appointment.doctor.name, doctor_path(appointment.doctor_id) %><br><br>

<% end %>