<h1>Patient: <%= @patient.name %></h1>

<ul>
  <%= @patient.appointments.each do |a| %>
    <li>
      <%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M")  %><br />
      <%= link_to a.doctor.name, doctor_path(a.doctor) %>
    </li>
  <% end %>
</ul>
