<p><%= @patient.name %></p>

<% @patient.appointments.each do |apptmt| %>
  <p><%= apptmt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>  <!-- January 12, 2016 at 3:00 -->
  <p><%= link_to apptmt.doctor.name, doctor_path(apptmt.doctor) %></p>
<% end %>
