<!-- lists the date and time for each of their appointments and links to the corresponding doctor's show page -->
<h3>Appointments</h3>
<% @patient.appointments.each do |appointment| %>
  <%= appointment.appointment_datetime.strftime('%B %d, %Y at %k:%M') %> --
  <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
  <br>
<% end %>
