<h1>Patients</h1>

	<% patient.appointment.each do |patient| %>
	<%= @appointment_datetime.strftime(("%B %d, %Y") at ("%H:%M")) %>
	<%= doctor_path(@doctor.name) %>

	<% end %>

<!--shows all of a patient's appointment times in a human readable format
	links to the doctor's show page by name for the doctor of each appointment