<%= @patient.name %>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> with Dr. <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
    </li>
  <% end %>
</ul>
