<h1><%= @patient.name %></h1><br>
<h1><%= @patient.age %></h1>
 <% @patient.appointments.each do |appointment| %>
  <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
   <br>
   <br>
  <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
   <br>
<% end %>
