<h1><%= @patient.name %></h1>

<h2>Appointments</h2>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>Appointment with <%= link_to appointment.doctor_name,
    doctor_path(appointment.doctor) %> -
    <%= appointment.appointment_datetime.strftime("%B %-d, %Y at %R") %></li>
  <% end %>
</ul>
