<h1><%= @patient.name %></h1>

<div>
    Appointments: <br>
    <% @patient.appointments.each do |app| %>
        <%= app.appointment_datetime.strftime('%B %d, %Y') %> at <%= app.appointment_datetime.strftime("%H:%M") %><br>
        Doctor: <%= link_to app.doctor.name, doctor_path(app.doctor) %><br>
    <% end %>
</div>