<h1><%= @patient.name %></h1>
<% @patient.appointments.each do |app| %>
  <div><ul>
    <li><%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
    <li><%= link_to app.doctor.name, doctor_path(app.doctor) %></li>
  </ul></div>
<% end %>
