<h2><%= @patient.name %></h2>

<% @patient.appointments.each do |appt| %>
  Appointment: <%= appt.appointment_datetime.strftime("%B %-d, %Y at %k:%M") %> with
  Dr. <%= link_to appt.doctor.name, doctor_path(appt.doctor) %><br>
<% end %>
