<h1>List of <%= @patient.name %>'s Appointments</h1>

<%= @patient.appointments.each do |appointment| %>
  <p> Time: <%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></p>
  <p><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p>
<% end %>
