<h1>Patient <%= @patient.name %></h1>

<h3>Appointments</h3>
<ul>
  <% @patient.appointments.each do |app| %>
    <li><%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
    <li>Doctor: <%= link_to app.doctor.name, doctor_path(app.doctor) %></li>
  <% end %>
</ul>