<h1><%= @patient.name %>'s Appointments %></h1>
<% @appointments.each do |appointment| %>
  <h2><%= appointment.appointment_date %></h2>
  <h3><%= link_to appointment.doctor_name, doctor_path(appointment.doctor) %></h3>
<% end %>