<h1>Patients#show</h1>
<p>Find me in app/views/patients/show.html.erb</p>
<h1><%= @patient.name %></h1>

<ul>
  <% @patient.appointments.each do |appointment| %>
  <li><%= appointment.readable_datetime %><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
  <% end %>
</ul>
