<h1>Appointment Times</h1>

<ul>
<%= @patient.appointments.each do |appt| %>
  <li>
    <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M")%>
    <%= link_to appt.doctor.name, doctor_path(appt.doctor)%>
  </li>
<% end %>
</ul>
