<h1><%= @patient.name %></h1>

<h2>Appointments</h2>

  <% @patient.appointments.each do |appt| %>
    <ul>
      <li>Date &amp; time: <%= appt.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></li>
      <li><%= link_to(appt.doctor.name, doctor_path(appt.doctor)) %></li>
    </ul>
  <% end %>
