<h2><%= "#{@patient.name}" %></h2>

<h3>Appointments</h3>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <%= appointment.display_appointment %>
    <br>
      <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
    </li>
  <%end%>
</ul>
