
<h2><%= @patient.name %></h2>
<p>
   <%= @patient.age %>
</p>
      <%@patient.appointments.each do |x|%>
      <%binding.pry%>
        <p><%= link_to x.doctor, doctor_path(x.doctor)%></p>
<%binding.pry%>

         <p><%= x.appointment_datetime.strftime("%B %d, %Y at %H:%M")%></p>
       <%end%>

