<h2> <%= @patient.name %> </h2>

<%


<% @patient.appointments.each do |appointment| %>
  <%= link_to appointment.patient.patient.name, patient_path %>
  <%= link_to appointment.patient.doctor.name, doctor_path %>
  <% end %>
