<h1><%= @patient.name %></h1>
Appointment with,
<%= link_to @patient.doctors[0].name, @patient.doctors[0] %>
<br>
<% @patient.appointments.each do |appointment| %>
<%= appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %>
<% end %>
