<h2> <%= @patient.name %> </h2>
<P>
  Appointments:<br> <br>
  <% @patient.appointments.each do |appointment| %>
  <%=@patient.name %> <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %> <br> <br>
  <%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %> <br> <br>
  <% end %>
