<h2><%= @patient.name %>'s Appointments:</h2>

<ul>

  <% @appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %> <br>
      <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
    </li>
  <% end %>

</ul>
