<h1><%= @patient.name%>'s Appointments:</h1>
<% @patient.appointments.each do |a| %>
    <p>Appointment: <%= a.appointment_datetime.strftime("%B %d, %Y")%> at <%= a.appointment_datetime.strftime('%H:%M')%><br>
    Doctor: <%= link_to a.doctor.name, a.doctor %><br>
    </p>
 <%end%>