<h1><%=@patient.name%></h1>
<h4>Appointments:</h4>
<% @patient.appointments.each do |appointment|%>
  <%=link_to appointment.doctor.name, doctor_path(appointment.doctor) %> - <%=appointment.human_time%>
  <br>
<%end%>
