<%= @patient.name %>

<ul>
    <% @patient.appointments.each do |appointment| %>
        <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %> at <%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></li>
    <% end %>
</ul>