<h2><%= @patient.name %></h2>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>Date and Time: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> with Dr. <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
  <% end %>
</ul>
