<h1><%= @patient.name %>

<h2> Appointments </h2>
  <%= @patient.appointments.each do |appt| %>
    <%= appt.to_readable %> with <%= link_to appt.doctor.name, doctor_path(appt.doctor) %><br>
  <% end %>
