<ul>
<%@patient.appointments.each do |appointment| %>
<li><%=appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%></li>
<li><%=link_to appointment.doctor.name, doctor_path(appointment.doctor.id)%></li>
<%end%>
</ul>