<h2><%= @patient.name %></h2>

<% unless @patient.no_appointments? %>
  <p>Appointments:</p>
  <ul>
    <% @patient.appointments.each do |apt| %>
      <li><%= apt.appt_time %> - <%= link_to apt.doctor_name, doctor_path(apt.doctor) %></li>
    <% end %>
  </ul>

<% end %>
