<h1>Patient <%= @patient.name %>'s appointments</h1>

<ul>
  <% @patient.appointments.each do |appt| %>
    <li><%= appt.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %> - Dr. <%= link_to appt.doctor.name, doctor_path(appt.doctor) %></li>
  <% end %>
</ul>
