<h2> <%= @patient.name %></h2>

<h3>Appointments</h2>

<ul>
<% Appointment.all.each do |appointment| %>
  <li><%= appointment.appointment_datetime %><br>
    <li><%= link_to appointment.doctor.name, doctors_path(@doctor) %></li>
    <li><%= link_to appointment.patient.name, patients_path(@patient) %></li>
<% end %>
</ul>
