<bold><%= @patient.name %></bold> has the following appointmnents:
<ul>
<% @patient.appointments.each do |appointment| %>
  <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %> - <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
<% end %>
</ul>
