<h1>Patient <%= @patient.name %></h1>

<ul>
  <% @patient.appointments.each do |appt| %>
    <li>
      <div>
        <%= appt.formatted_time %> <br>
        <%= link_to appt.doctor.name, doctor_path(appt.doctor) %>
      </div>
    </li>
  <% end %>
</ul>
