<h1><%=@patient.name%></h1>
<% @patient.appointments.each do |appointment| %>
  <h3><%= appointment.human_readable %></h3>
  <h3><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></h3>
<% end %>
