<h3>Patient Name (Age): <%=@patient.name %>(<%= @patient.age %>)</h3>
<h3>Scheduled Appointments:</h3>
<ul>
  <% @patient.appointments.each do |a| %>
  <li>
    <%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to a.doctor.name, doctor_path(a.doctor) %>
  </li>
  <% end %>
</ul>