<h2><%= @patient.name %>'s Appointments</h2>
<ul>
  <% @patient.appointments.each do |a| %>
    <li><%= a.appointment_datetime.strftime('%B %d, %Y at %H:%M')%> <%= link_to a.doctor.name, doctor_path(a.doctor) %></li>
  <%end%>
</ul>
