<h2><%= @patient.name %>'s Appointments</h2>

<ul class="appointments">
  <% @patient.appointments.each do |appt| %>
    <li class="appointment">
      <%= appt.display_datetime %> - with <%= link_to appt.doctor_name, doctor_path(appt.doctor) %>
    </li>
  <% end %>
</ul>
