<h1><%= @patient.name %></h1>
<h2>Appointments:</h2>
<% @patient.appointments.each do |apt| %>
  Doctor: <%= link_to apt.doctor.name, doctor_path(apt.doctor) %><br>
  When: <%= apt.readable_datetime %><br>
<% end %>