<%= @patient.appointments.each do |appt| %>
    <p>Time: <%= appt.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></p>
    <p><%= link_to appt.doctor.name, doctor_path(appt.doctor) %>
<% end %>
