<ul>
  <% @patient.appointments.each do |app| %>
    <% a = app.appointment_datetime.to_s %>
    <% date = DateTime.parse(a) %>
    <% formatted_date = date.strftime('%B %d, %Y at %H:%M') %>
    <li><%= formatted_date %></li>
    <a href="/doctors/<%= app.doctor.id %>"><%= app.doctor.name %></a><br>
  <% end %>
</ul>
