<h1><%= "#{@patient.name}'s appointments" %></h1>
<table>
	<tr>
		<th>Doctor:</th>
		<th>Date</th>
	</tr>
	<% @patient.appointments.each do |appt| %>
		<tr>
			<td><%= link_to appt.doctor.name, doctor_path(appt.doctor) %></td>
			<td><%= appt.readable_format %></td>
		</tr>
	<% end %>
</table>