<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Patient's Show Page</title>
</head>
<body>
  <% @patient.appointments.each do |a| %>
  <%= link_to a.doctor.name, doctor_path(a.doctor) %>
  <%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
  <% end %>
</body>
</html>
