<h1><%= @patient.name %>'s Home Page</h1>

<h3>
	<ul>
		<% @patient.appointments.each do |appointment| %>
			<li>Appointment:<%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
				Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
			</li>
		<% end %>
	</ul>
</h3>