<h1><%= @patient.name%></h1>
<ul>
  <% @patient.appointments.each do |appointment|%>
  <li><%=appointment.date%><br>
  <%=link_to appointment.doctor.name, doctor_path(appointment.doctor)%></li>
<%end%>
</ul>