<h2>Appointment Info</h2>

<%@patient.appointments.each do |appt|%>
  <%= link_to appt.doctor.name, doctor_path(appt.doctor)%>
    <%= appt.appointment_datetime.strftime("%B %-d, %Y at %R")%>
<%end%>
