<h1>Name: <%= @patient.name %> - Age: <%= @patient.age %></h1>
<% @patient.appointments.each do |appt| %>
  <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
  <%= link_to appt.doctor.name, doctor_path(appt.doctor) %>
<% end %>
