<h2> <%= @patient.name %></h2>

<h3>Appointments</h2>

<ul>
<% @patient.appointments.each do |appointment| %>
<li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
    <li><%= link_to appointment.doctor.name, appointment.doctor %></li>
<% end %>
</ul>
