<h2><%= @patient.name %></h2>
<br />
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>Time: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
      Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
  <% end %>
</ul>
