<h2> <%= @patient.name %> </h2>

<p>Appointments</p>
<ul>
<% @patient.appointments.each do |appt| %>
<li><%= appt.readable_time %> - with: <%= link_to appt.doctor.name, doctor_path(appt.doctor) %></li>
<% end %>
</ul>