<h1>Profile for <%= @patient.name %></h1>
<h2>Appointments:</h2>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %> - <%= appointment.appointment_datetime.strftime('%B %-d, %Y at %H:%M') %></li>
  <% end %>
</ul>
