<div>
  <ul>
    <% @patient.appointments.each do |appointment| %>
      <li><%= link_to appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') + ' ' + appointment.doctor.name, doctor_path(appointment.doctor) %></li>
    <% end %>
  </ul>
</div>
