<h1><%= @patient.name %></h1>

<%= div_for(@patient.appointments) do |appointment| %>
  <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
  <%= "#{appointment.appointment_datetime.strftime('%B %d, %Y')} at #{appointment.appointment_datetime.strftime('%H:%M')}" %>
<% end %>
