<%=@patient.name%><br>
<%@patient.appointments.each do |app| %>
  <%="#{app.appointment_datetime.strftime("%B %d, %Y at %k:%M")}"%><br>
  <a href="/doctors/<%=app.doctor.id%>"><%=app.doctor.name%></a>"<br>
<%end%>
