<h2><%= @patient.name %></h2>
<p>
  Age: <%= @patient.age %>
</p>
Appointments:
    <% @patient.appointments.each do |appointment| %>
    <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%>
  <% end %> 