<h1>Patient <%= @patient.name %></h1>

<h3>Appointments</h3>
<ul>
  <% @patient.appointments.each do |appt| %>
    <li>Doctor: <%= link_to appt.doctor.name, doctor_path(appt.doctor) %>
      Time: <%= appt.date_time %></li>
  <% end %>
</ul>
