<h1>Patient<%= @patient.name %></h1>
<p>
  <% @patient.appointments.each do |appointment| %>
  	Appointment: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
  	Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %><br>
  <% end %>
</p>
