<ul>
  <%= @patient.appointments.each do |appointment| %>
  <li>Date: <%= appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %></li>
  <li>Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
  <% end %>
</ul>
