<h1><%= @patient.name %></h1>
<ul>
    <% @patient.appointments.each do |a| %>
        <div>
           <li>
            <%= a.date %> <br>
            Doctor: <%= link_to a.doctor.name, doctor_path(a.doctor) %>
           </li> 
        </div>
    <% end %>
</ul>
