<h1>Patients</h1>

	<%= link_to patient.appointment_path.strftime(("%B %d, %Y") at ("%H:%M")) %>
	<%= link_to doctor.name %>



<!--[]	lists the date and time for each of their appointments 
	 []	links to the corresponding doctor's show page
