<h1><%= @patient.name %></h1>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %><br>
      <%= appointment.appointment_datetime.strftime("%B %e, %Y at %k:%M") %>
    </li>
  <% end %>
</ul>
