<h1><%=@patient.name%></h1>
<ul>
<%@patient.appointments.each do |appointment| %>
  <li> <%=appointment.display_date %> - <%=link_to appointment.doctor.name,  doctor_path(appointment.doctor) %>
  </li>  
  <% end %>
  </ul>