<h2><%= @patient.name %></h2>
<h3>Appointment</h3>
<% @patient.appointments.each do |app| %>
  <ul>
    <li>Doctor: <%= link_to app.doctor.name, doctor_path(app.doctor) %></li>
    <li>Date and Time: <%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><li>
<% end %>
