<h2><%= @patient.name %></h2>
Appointments:
<hr>
<% @patient.appointments.each do |app| %>
  Date: <%= app.appointment_datetime.strftime("%B %e, %Y at %H:%M") %> <br>
  Doctor: <%= link_to app.doctor.name, doctor_path(app.doctor) %> <br>

  <% end %>
