<%= @patient.name %>'s appointments.
<ul>
<% @patient.appointments.each do |appt| %>
  <li>Appointment Time: <%= appt.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %></li>
  <li>Doctor: <%= link_to appt.doctor.name, doctor_path(appt.doctor.id) %></li>
<% end %>
</ul>
