<h1><%=@patient.name%></h1>

<%@patient.appointments.each do |appointment|%>
    <li>
        <%=appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M")%>
        with
        <%=link_to appointment.doctor.name, doctor_path(appointment.doctor)%>
    </li>
<%end%>