<%= @patient.name %>
<ul>
  <%= @patient.appointments.each do |appointment| %>
    <li>
      <%= appointment.readable_date %> - 
      <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
    </li>
  <% end %>
</ul>