<h1><%= @patient.name %></h1>
<h3>Appointments:</h3>
<ul>
  <% @patient.appointments.each do |appointment|%>
    <li><%= link_to appointment.doctor_name, doctor_path(appointment.doctor)%> - <%= appointment.appointment_time %></li>
  <% end %>
</ul>

