<h1><%=@patient.name%></h1>

<h4>Appointments</h4>

<ul>
  <%@patient.appointments.each do |appointment|%>
  <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor)%> - <%=appointment.readable_datetime%></li>
  <%end%>
</ul>