<h1><%= @patient.name %></h1>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <p><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>
      <p><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p>
    </li>
  <% end %>
</ul>
