<h1>Doctors</h1>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      Name: <%= link_to doctor.name, doctor_path(doctor) %> - Department: <%= doctor.department %><br>
      Appointments:
      <ul>
        <% doctor.appointments.each do |appointment| %>
          <li>
            Time: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to appointment.patient.name, patient_path(appointment.patient)%>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
