<h2>Doctors</h2>

<ul>
     <% @doctors.each do |doctor| %>
     Name: <%= @pdoctor.name %>
     Number of Appointments: <%= @appointment.ids %>
  <li><%= link_to doctor.name, doctor_path(doctor) %></li>
<% end %>
</ul>