<h1>Doctors' index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>
<ul>
<% @doctors.each do |doctor| %>
  <label>Doc's Name</label> 
  <li><%= link_to doctor.name, doctor %></li>
  <label>Doctor's Dept</label>
  <li><%= link_to doctor.department, doctor %></li>
  <label>Number of Patients</label>
  <li><%= doctor.patients.count %></li>
<% end %>
</ul>
