<h1> Doctors </h1>
<ul>
  <% @doctors.each do |doctor| %>
    <li><a><%= link_to doctor.name, doctor_path(doctor) %></a></li>
    <li><%= doctor.patients.count %> patients </li><br><br>
  <% end %>
</ul>
