<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<table>
  <tr>
    <th>Doctor</th>
    <th># Patients</th>
  </tr>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= link_to doctor.name, doctor %></td>
      <td><%= doctor.patients.count %></td>
    </tr>
  <% end %>
</table>
