<h1>Doctors</h1>
<p>
    <ul>
    <% @doctors.each do |doctor| %>
        <li><strong><%= link_to doctor.name, doctor_path(doctor) %> <strong> has
        <%= pluralize(doctor.patient_count, 'patient') %></li>
    <% end %>
    </ul>
</p>