<h1>Listing Doctors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
    <tr>
      <td><%= link_to doctor.name, doctor_path(doctor) %></td>
      <td><%= doctor.patients.count %></td>
      <td>Patient(s)<br></td>
    </tr>
    <% end %>
  </tbody>
</table>
