<h1>Doctors</h1>

<ul>
  <% @doctors.each do |doctor| %>
    <li><%= link_to "Dr. #{doctor.name}", doctor_path(doctor) %> - Number of Appointments: <%= doctor.appointments.count %></li><br>
  <% end %>
</ul>