<h1>Doctors</h1>

<ul style="padding: 0">
  <% @doctors.each do |doctor| %>
    <l1>
      Doctor: <%= link_to doctor.name, doctor_path(doctor) %>
      <br>
      Patients: <%= doctor.patients_count %>
      <br><br>
    </l1>
  <% end %>
</ul>
