<h1>Doctors Listing</h1>
<p>The list below displays each doctor's name, a link to their profile page, and a count of their patients.</p>
<br />
<% @doctors.each do |doctor| %>
    <li>
    Name: <%= link_to doctor.name, doctor_path(doctor) %>
    Number of Patients: <%= doctor.patients.count %></li>
    </li>
<% end %>
