<h1>Doctors</h1>

<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= link_to doctor.name, doctor_path(doctor) %><br>
      <b>Number of Patients:</b> <%= doctor.patients.count %><br><br>
    </li>
  <% end %>
</ul>