<h1><%=@doctor.name %>'s appointments</h1>

<%= @doctor.appointments.each do |appointment| %>
  <%= link_to appointment.patient.name, patient_path(appointment.patient)%>
  <br>
  When: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%><br>
  <%end%>
