<h2><%= @doctor.name, @doctor.department %></h2>
	has these appointments
<ul>
	<% @doctor.appointments.each do |appointment| %>
	<li> <% link_to doctor_path(@doctor)%></li>
	<li> <% link_to patient_path(@patient) %>
  	<li><% @appointment_path.t_datetime"(("%B %d, %Y") "at" ("%H:%M"))" %> "-" <%= @appointment.patient %></li>
	<% end %>
</ul>



