<h1>Doctor: <%= @doctor.name %> </h1>
<h2>Department: <%= @doctor.department %> </h2>

<p>Appointments:</p>
<ul>
  <% @doctor.appointments.each do |appointment| %>
      <li>Time: <%= appointment.format_date %> | Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
  <% end %>
</ul>


<!--shows all appointment times in readable format
and links to patients show page by the name for each appointment-->
