<h1>Appointments for <%= @doctor.name %></h1>
<% @doctor.appointments.each do |appt| %>
  <p><%= link_to appt.patient.name, patient_path(appt.patient) %> on <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M ") %></p>
<% end %>
