<h1>Profile for <%= @doctor.name %></h1>
<h2>Department of <%= @doctor.department %></h2>
<h3>Appointments:</h3>
<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li><%= link_to appointment.patient.name, patient_path(appointment.patient) %> - <%= appointment.appointment_datetime.strftime('%B %-d, %Y at %H:%M') %></li>
  <% end %>
</ul>
