<h2> Appointments by Doctor Name </h2>

	<%= @doctor.name %>, <%= @doctor.department %>
		has these appointments
		<% @doctor.appointments.each do |appointment| %>
		<%= link_to appointment.appointment_datetime.strftime("%A, %B %d, %Y at %H:%M")%> 
		<%= link_to appointment.patient.name, patient_path(appointment.patient) %> 
	<%end%>





		
	<!--Create a Doctor#show page that 
	 []	displays the doctor's name
	 []	department
	 []	appointments with each appointment's 
		[]	date
		[]	time
		[]	patient name (linking to the patient's show page) -->