<h1>Dr. <%= @doctor.name %></h1>
<h2>Department: <%= @doctor.department %></h2>
<h2>Appointments: </h2>

  <% @doctor.appointments.each do |appointment| %>
  <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> with
  <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  <% end %>
