<h3><%= @doctor.name %></h3>
<h3><%= @doctor.department %></h3>
<h3>Appointments</h3>
<ul>
    <% @doctor.appointments.each do |appointment| %>
        <li>Appointment for <%= link_to appointment.patient.name, appointment.patient %></li>
            <ul>
                <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
            </ul>
    <% end %>
</ul>
