<h1><%= @doctor.name %></h1>
<h3><%= @doctor.department %></h3>
<% @doctor.appointments.each do |appointment| %>
  <div>
    <%= link_to appointment.patient_name, patient_path(appointment.patient)%>
    <ul>
      <li><%= appointment.readable_time %></li>
    </ul>
  </div>
<% end %>
