<h1><%= @doctor.name %></h1>
<fieldset>
  <legend>Appointments</legend>
    <ul>
      <%= @doctor.appointments.each do |appt| %>
        <li>
          <%= link_to appt.appointment_datetime.strftime("%B %e, %Y at %k:%M"), appointment_path(appt) %>
          -
          <%= link_to appt.patient.name, patient_path(appt.patient) %>
        </li>
      <% end %>
    </ul>
</fieldset>
