<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %><h2>

<h3>Appointments<h3>
<% @doctor.appointments.each do |appt| %>
  <%= appt.to_readable %> with <%= link_to appt.patient.name, patient_path(appt.patient) %><br>
<% end %>
