<h1><%= @doctor.name %> | <%= @doctor.department %></h1>
<p>Appointments:
  <ul>
    <% @doctor.appointments.each do |appointment| %>
      <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> | <%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
    <% end %>
  </ul>
</p>
