<h2><%= @doctor.name %></h2>

Appointments:
  <% @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %> at
    <%= appointment.appointment_datetime %>
  <% end %>