<%= @doctor.name %>
<%= @doctor.department %>

<ul>
<% @doctor.appointments.each do |appointment| %>
    <li><%= link_to appointment.patient.name, patient_path(appointment.patient) %> at <%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></li>
<% end %>
</ul>