<h3> <%= @doctor.name %> </h3>

<fieldset>
  <% @doctor.appointments.each do |appointment| %>
    <p><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><p>
    <p><%= link_to appointment.patient.name, patient_path(appointment.patient) %><p>
  <% end %>
</fieldset>
