<bold><%= @doctor.name %></bold> from the <bold><%= @doctor.department %></bold> department has the following appointmnents:
<ul>
<% @doctor.appointments.each do |appointment| %>
  <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %> - <%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
<% end %>
</ul>
