<h1>Doctor Page</h1>
<%= @doctor.name %>
<%= @doctor.department %>
<% @doctor.appointments.each do |appointment| %>
    <p>
        <%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>
        <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
    </p>
<% end %>