<%= @doctor.name %>
<ul>
<% @doctor.appointments.each do |a| %>
  <li><%= a.appointment_datetime.strftime("%B %d, %Y at %R") %> <%= link_to a.patient.name, patient_path(a.patient) %></li>
<% end %>
</ul>
