<h2><%=@doctor.name%></h2>
<p>
  Department: <%=  @doctor.department %>
</p>
Appointments:
<%@doctor.appointments.each do |appointment|%>
<%binding.pry%>
<%= link_to appointment.appointment_datetime, appointment_path(appointment)%><br>
<%end%>
