<h1>Dr. <%= @doctor.name %></h1>

<h4>Your Appointments</h4>
<%= @doctor.appointments.each do |appointment| %>
  <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> with
  <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  <br>
<% end %>
