<h1>Your Doctor</h1>
<%= @doctor.name %>

<h3><%= @doctor.name %>'s Appointments:</h3><br>
<% @doctor.appointments.each do |appt| %>
<li><%= appt.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></li>
<li><%= link_to appt.patient.name, patient_path(appt.patient_id) %></li>
<% end %>
