<h2> <%= @doctor.name %></h2>
<h2> <%= @doctor.department %></h2>
<% @doctor.each do |app| %>

  <li><%= link_to @app.appointment.appointment_datetime, appointment_path %></li>
      <li><%= link_to @app.patient.name, patient_path %></li>





