<h2><%= @doctor.name %></h2>
<p>
  Department: <%= @doctor.department %>
</p>
Appointments:
  <% @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.patient.name, appointment_path(appointment.name) %>
    <%= appointment.name %>
  <% end %>
