<h1><%= @doctor.name %></h1>
<h1><%= @doctor.department %></h1>

<% @doctor.appointments.each do |appt| %>
  <p>
    <%= appt.format_datetime %> <%= link_to appt.patient.name, patient_path(appt.patient) %>
  </p>
<% end %>