<h2> <%= @doctor.name %></h2>

<ul>
<% @doctor.appointments.each do |appointment| %>
  <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>

  <li><%= link_to appointment.patient.name, appointment.patient %></li>


<% end %>
</ul>
