<h1><%=@doctor.name%></h1>

<h3><%=@doctor.department%></h3>

<ul>
  <%@doctor.appointments.each do |appt|%>
    <li><%=link_to appt.patient.name, appt.patient%><br>
        <%=appt.format_time%>
  <%end%>
</ul>
