<h2> <%= @doctor.name %></h2>
<h3> <%= @doctor.department %></h3>

<ul>
<% @doctor.appointments.each do |appointment| %>
  <li><%= @appointment.appointment_datetime.t_datetime"(("%B %d, %Y") "at" ("%H:%M"))" - @appointment.patient %></li>
<% end %>
</ul>

<!--	 []	displays the doctor's name
	 []	department
	 []	appointments with each appointment's 
		[]	date
		[]	time
		[]	patient name (linking to the patient's show page) -->