
<% # rspec spec/features/doctors_spec.rb --f-f %>

<h1><% @doctor.name %></h1>

<ul>
  <% @doctor.appointments.each do |scheduled| %>
<% binding.pry %>  
    <li><%= scheduled.appointment_datetime.to_formatted_s(:long) %></li>
    <li><%= link_to scheduled.patient.name, patient_path(patient) %></li>
  <% end %>
</ul>

