
<%@doctor.appointments.each do |appointment|%>
	<h2><%=appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%></h2>
	<br>
	<dir>wat</dir>
	<%=link_to appointment.patient.name, patient_path(appointment.patient)%>
<%end%>