show.html.erb
<h1>@doctor.name</h1>

<h2>Appointments:</h2>
<div>
	

	<% @doctor.appointments.each do |appointment| %>
		Time: 
		<%= link_to appointment.appointment_datetime.strftime('%B %e, %Y at %H:%M') , appointment_path(appointment) %><br>

		Patients: 
		<%= link_to appointment.patient.name, patient_path(appointment.patient) %><br>
	<% end %>

</div>
