<h1> <%= @doctor.name %> </h1>

<ul>
  <%= @doctor.appointments.each do |appointment| %>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M%p") %><br>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  <% end %>
</ul>
