<h1><%= @doctor.name %></h1>
<b>Department:</b> <%= @doctor.department %><br></br>

<b>Appointments:</b>
<ul>
<% @doctor.appointments.each do |appointment| %>
  <li>Time: <%= appointment.time_str %></li>
  <% patient = appointment.patient %>
  <li>Patient: <%= link_to patient.name, patient_path(patient) %></li><br></br>
<%end%>
</ul>