<label>Doctors Appointment</label>
<ul>
  <%@doctor.appointments.each do |appointment| %>

    <li><%= link_to appointment.patient.name, patient_path(appointment.patient)%></li><br>

    <li><%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></li>
    <%end%>
</ul>
