<h2> <%= @doctor.name %></h2>

<ul>
<% Doctor.all. each do |doctor| %>
  <li><%= doctor.appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
  <li><%= doctor.patients.name %><br>
    <li><%= link_to doctor.patient.name, patient_path(patient) %></li>


<% end %>
</ul>
