<h2> Appointments by Doctor's Names </h2>

	<%= doctor.name, doctor.department %>
	has these appointments
	<%= link_to doctor.appointment_datetime.strftime(("%A, %B %d, %Y") at ("%H:%M")) %> 
	<%= link_to doctor.patient.name %> 
	





		
	<!--Create a Doctor#show page that 
	 []	displays the doctor's name
	 []	department
	 []	appointments with each appointment's 
		[]	date
		[]	time
		[]	patient name (linking to the patient's show page) -->