<h1> <%= @doctor.name %> </h1>
<h2> <%= @doctor.department %> </h2>

<h3> All Appointments </h3>
<ul>
  <%@doctor.appointments.each do |a|%>
    <li><%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> with PATIENT <%=link_to a.patient.name,patient_path(a.patient)%></li>
  <% end %>
</ul>
