<h1><%= @doctor.name %></h1>

<h2>Appointments:</h1>
  <% @doctor.appointments.each do |appointment| %>
    <p><%=appointment.appointment_datetime.strftime('%B'+ ' '+ '%d'+ ', '+'%G'+' at '+'%R')%> -
    Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %></p>
  <% end %>
