<h2><%= @doctor.name%> - <%=@doctor.department%></h2>
<%@doctor.appointments.each do |appt|%>
<%=appt.appointment_datetime.strftime("%B %d, %Y at %T")%> <%=link_to appt.patient.name, appt.patient%><br>
<%end%>
