<%= @doctor.name %><br>
<%= @doctor.department %><br>
<ul>
<% @doctor.appointments.each do |a| %>
  <li><%= link_to "#{a.appointment_datetime.strftime('%B %d, %Y')} at #{a.appointment_datetime.strftime('%H:%M')}", appointment_path(a) %><br>
      <%= link_to "#{a.patient.name}", patient_path(a.patient) %>
  </li>
<% end %>
</ul>