<h1><%= @doctor.name %> Appointments</h1>

<ul>
  <% @doctor.appointments.each do |a| %>
    <li><%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
    <li><%= link_to a.patient.name, patient_path(a.patient) %></li>
  <% end %>
</ul>
