<ul>
  <li>
    <% @doctor.appointments.each do |appointment| %>
      <%= link_to appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %>
      <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
    <% end %>
  </li>
</ul>
