<h1>Doctor <%= @doctor.name %></h1>
<h3>Department <%= @doctor.department %></h3>
<p>
  <% @doctor.appointments.each do |appointment| %>
  	Appointment: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
  	Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %><br>
  <% end %>
</p>
