
<h1>Doctor's Appointments</h1>
<% @appointments.each do |appointment|%>
  <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%>
  <%= link_to appointment.patient.name, appointment.patient%>
<% end %>