<h1><%= @doctor.name %></h1>

<% @doctor.patients.each do |patient| %>
	<p>
		<h3><%= patient.name %></h3>
		<h4><%= patient.age %></h4>
		<%= link_to patient.name, patient_path(patient) %>
	</p>
<% end %>