<h3>Doctor: <%= @doctor.name %></h3>
<h4>Department: <%= @doctor.department %></h4>

<ul>
  <% @doctor.patients.each do |patient| %>
    <li>
      <%= link_to patient.name, patient_path(patient) %>
    </li>
  <% end %>
</ul>
<h4>Appointments:</h4>
  <ul>
    <% @doctor.appointments.each do |appointment| %>
      <li>
        <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
      </li>
    <% end %>
  </ul>
