<h1><%= @doctor.name %></h1>

<h3>Department: <%= @doctor.department %></h3>

<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li>
      <%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %> - <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
    </li>
  <% end %>
</ul>
