<h1><%= @doctor.name %></h1>
<p>Department: <%= @doctor.department %></p>
<h4>Appointments:</h4>
<ul>
  <% @doctor.appointments.each do |app| %>
    <li>
      <%= link_to app.appointment_datetime.strftime('%B %d, %Y at %H:%M'), appointment_path(app) %>
      <ul>
        <li>With <%= link_to app.patient.name, patient_path(app.patient) %></li>
      </ul>
    </li>
  <% end %>
</ul>