<h1>Doctors#show</h1>
<h2>Appointments:</h2>
<%@doctor.appointments.each do |appointment|%>
	<div><%=appointment.appointment_datetime.strftime("%B %C, at %R")%>
	<div><%=link_to appointment.patient.name, patient_path(appointment.patient)%></div>
<%end%>
