
<h1><% @doctor.name %></h1>

<% @doctor.appointments.each do |appointment| %>
  <%= appointment.formatted_date %>
  <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
<% end %>


