<h1><%= @doctor.name %></h1>
<h3><%= @doctor.department %></h3>

<h3>Appointments:</h3>
<table border="1">
  <thead>
    <td align="center" width="200">Patient</td>
    <td align="center" width="350">Appointment</td>
  </thead>
  <tbody>
    <% @doctor.appointments.each do |app| %>
    <tr>
      <td><%= link_to app.patient.name, app.patient %></td>
      <td align="center"><%= app.appointment_datetime.strftime('%B %d, %Y at %H:%M') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
