<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>
<h3>Appointments:</h3>
<h4><% @doctor.appointments.each do |apmt| %>
    <%= link_to apmt.patient.name, patient_path(apmt.patient) %><br>
    Date: <%= apmt.readable_datetime %><br>
  <% end %>