<h2><%=@doctor.name%></h2> patients:

<ul>
<%@doctor.appointments.each do |d|%>
<%= d.appointment_datetime.strftime("%B %e, %Y at %H:%M") %>
<% end %>
</ul>

<% @doctor.patients.each do |p| %>
  <%= link_to p.name, patient_path(p) %>
<% end %>
