<h2><%= @doctor.name %></h2>
<p>
  Department: <%= @doctor.department %>
</p>
Appointments:
  <% @doctor.appointments.each do |apt| %>
    <%= link_to apt.patient.name, patient_path(apt.patient) %>
    <%= apt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
  <% end %>
