<h1>Doctors#show</h1>
<p>Find me in app/views/doctors/show.html.erb</p>
<% @doctor.appointments.each do |appointment| %>
  <ul>
    <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> with <%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
  </ul>
<% end %>
