<h1><%= @doctor.name %></h1>

<p><strong>Department:</strong> <%= @doctor.department %></p>

<ul>
<% @doctor.appointments.each do |appointment| %>
  <li>
    Time: <%= appointment.date_and_time %>,
    Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  </li>
<% end %>
</ul>
