<h1>Doctors#show</h1>
<p>Find me in app/views/doctors/show.html.erb</p>

<%= @doctor.name %> 

<% @doctor.appointments.each do |app| %>

    Patient: <%= link_to app.patient.name, patient_path(app.patient) %><br>
    Date: <%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M")  %>

    <br> 
<% end %> 