<h1><%= @doctor.name %></h1>

<h2><%= @doctor.department %></h2>

<% @doctor.appointments.each do |appointment| %>
  <h4><%= appointment.patient.name %></h4>
  <h4><%= appointment.date_string %></h4>
<% end %>
