<ul>
<%= @doctor.appointments.each do |appointment| %>
  <li>Date/Time:<%= appointment.appointment_datetime %><li>
  <li>Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
<% end %>
</ul>