<h1>Appointments:<h1>

<%= @doctor.appointments.each do |appointment| %>
  <h3>Appointment date/time: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h3>
  <h3><%= link_to appointment.patient.name, patient_path(appointment.patient) %></h3>
<% end %>
