<h1> Appointments for <%= @doctor.name %> </h1>

<% @doctor.appointments.each do |appointment| %>
  <p><%= appointment.show_date_time %></p>
  <a><%= link_to appointment.patient.name, patient_path(appointment.patient) %></a>
<% end %>
