<h1><%= @doctor.name %></h1>
<p><%= @doctor.department %></p>

<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li>
      <%= appointment.appointment_time %>, <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
    </li>
  <% end %>
</ul>
