<h3>Appointments for <%= @doctor.name %></h3>

<table>
  <thead>
    <tr> 
      <th>Appointment Time</th> 
      <th>Patient</th> 
    </tr>
  </thead>  

  <tbody>
  	<% @doctor.appointments.each do |appointment| %>
  	  <tr>
  	  	<td><%= (appointment.appointment_datetime).strftime("%B %e, %Y at %H:%M") %></td>
  	    <td><%= link_to appointment.patient.name, patient_path(appointment.patient) %></td>
  	  </tr>
  	<% end %>
  </tbody>
</table>

