<h2><%= @doctor.name %> </h2>
<h2><%= @doctor.department %> </h2>


<% @doctor.appointments.each do |appointment| %>
  <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  <%= link_to appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M"), appointment_path(appointment) %>
<% end %>
