<h1> <%= @doctor.name %> </h1>
<h2> <%= @doctor.department %> </h2>

Appointments:
<% @doctor.appointments.each do |appt| %>
  <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
  <%= link_to appt.patient.name, patient_path(appt.patient) %>
<% end %>
