<h1><%= @doctor.name %></h1>
<h3>Appointment Times</h3>
<ul>
  <% @doctor.appointments.each do |app| %>
    <p><%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to app.patient.name, patient_path(app.patient) %></p>
  <% end %>
</ul>
