
<h1><%= "Dr. " + @doctor.name + " Appontments" %></h1>
<br>
<ul>
  <% @doctor.appointments.each do |a| %>
  <%binding.pry%>
    <li> <%= link_to a.patient.name, appointment_path(a) %><%= a.appointment_datetime %></li>
  <% end %>
</ul>
