<h2>Hello Doctor!</h2>

<%= @doctor.name %>
<br>
<%= @doctor.department %>
<br>
<% @doctor.appointments.each do |a| %>
  <% @doctor_patient = @doctor.patients.find(a.patient_id) %>
  <%= link_to @doctor_patient.name, patient_path(@doctor_patient) %>
  <%= link_to a.appointment_datetime.strftime("%B %d, %Y at %k:%M"), appointment_path(a) %><br>

<% end %>
