 <ul>
 <% @appointments.each do |appt|%>
 	<%pat = Patient.find(appt.patient)%>
 	<%binding.pry%>
 	<li><%=link_to pat.name, pat %> <%=appt.appointment_datetime.to_formatted_s(:long)%></li>
 <%end%>
</ul>


