<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>
<h3>Appoinments</h3>
<% @doctor.appointments.each do |app| %>
  <ul>
    <li><%= link_to app.patient.name, patient_path(app.patient) %></li>
    <li><%= app.appointment_datetime.strftime('%B %d, %Y at %k:%M') %></li>
  </ul>
<%end%>
