<h1>All of <%= @doctor.name %>'s appointments:</h1>
<br>

<ul>
  <% @doctor.appointments.each do |appt| %>
    <%= appt.appointment_datetime.strftime('%B %d, %Y') %> at <%= appt.appointment_datetime.strftime('%H:%M') %>
    <%= link_to appt.patient.name, appt.patient %>
  <% end %>
</ul>
