<h1><%= @doctor.name %></h1>


<ul>
  <% @doctor.appointments.each do |p| %>
    <li> <%= p.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %></li
    <li><%= link_to p.patient.name, patient_path(p.patient) %></li>
  <% end %>
</ul>
