<h1><%=@doctor.name%></h1>
Appointments:
<ul><%@doctor.appointments.each do |appt|%>
  <li><%=appt.appointment_datetime.strftime("%B %d, %Y at %H:%M")%> with <%=link_to appt.patient.name, patient_path(appt.patient)%></li>
  <%end%>
</ul>
