<h2><%= @doctor.name %></h2>
<h2><%= @doctor.department %></h2>

Appointments:
  <% @doctor.appointments.each do |appointment| %>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  <% end %>
