<h1>Doctor Profile</h1>
<div>
    Name: <%= @doctor.name %>
</div>

<div>
    Department: <%= @doctor.department %>
</div>

<div>
    Appointments: <br>
    <ul>
        <% @doctor.appointments.each do |appt| %>
            <li>
                <%= appt.human_time %> with <%= link_to appt.patient.name, patient_path(appt.patient) %>
            </li>
        <% end %>
    </ul>
</div>

