<h1>Doctor: <%= @doctor.name %></h1>
<h2>Department: <%= @doctor.department %></h2>

<h4>Appointments: </h4>
<ul>
	<% @doctor.appointments.each do |appointment| %>
		<li>Date Time: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>   
			Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
	<% end %>
</ul>