<h2>Dr. <%= @doctor.name %></h2>
<h3>Department: <%= @doctor.department %></h3>

  <h3>Appointment Schedule</h3>
  <ol>
  <% @doctor.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %>
        <%= link_to appointment.patient.name, patient_path(appointment) %>
    </li>
  <% end %>
  </ol>
