 <h1><%@doctor.name%>'s Appointments</h1>

<%@doctor.appointments.each do |app|%>
  <%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
  <%=link_to app.patient.name, patient_path(app.patient) %>
<%end%>
