<h1><%= @doctor.name %></h1>
  <p><%= @doctor.department %></p>

  <h2>Appointments: </h2>
  <ul>
    <% @doctor.appointments.each do |appointment| %>
    <li>
    <p> Appointment time: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> </p>
    <p> Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient)%></p>
  </li>
<% end %>
</ul>
