 <ul>
 <% @appointments.each do |appt|%>
 	<%pat = appt.patient%>
 	<%tme = appt.appointment_datetime.to_formatted_s(:long)%>
 	<%tme.insert(-6,"at ")%>
 	<li><%=link_to pat.name, pat %> <%=tme%></li>
 <%end%>
</ul>


