<h1><%=@doctor.name%></h1>
<h3><%=@doctor.department %></h3>


<h4>Appointments</h4>

<ul>
  <%@doctor.appointments.each do |appointment| %>
  <li><%= link_to appointment.patient.name, patient_path(appointment.patient)%> - <%= appointment.readable_datetime%></li>
  <%end%>
</ul>