<h1><%= @doctor.name %> - <%= @doctor.department %></h1>
<% @doctor.appointments.each do |app| %>
  <%= link_to app.appointment_datetime.strftime('%B %d, %Y at %k:%M'), appointment_path(app) %> for
  <%= link_to app.patient.name, patient_path(app.patient) %>
<% end %>
