<h1>Doctor<%= " " + @doctor.name %></h1><br />
<ul>
  <% @doctor.appointments.each do |a| %>
    <li>
      <%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M")  %><br />
      <%= link_to a.patient.name, patient_path(a.patient) %>
    </li>
  <% end %>
</ul>
