<h1><%= @doctor.name %></h1>
<h3>Department: <%= @doctor.department %></h3>

<h4>Appointments:</h4>
<% @doctor.appointments.all.each do |appointment|%>
  <li>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %> on <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
  </li>
<% end %>