<h1>Your Upcoming Appointments</h1>

<% @doctor.appointments.each do |appt| %>
  <h2><%= link_to appt.patient.name, patient_path(appt.patient) %></h2>
  <p><%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>
<% end %>