<h1><%= @doctor.name %></h1>
<h3><%= @doctor.department %></h3>

<h4>Appointments</h4>
  <% @doctor.appointments.each do |a| %>
    <%= a.app_datetime %>
    <%= link_to a.patient.name, patient_path(a.patient) %>
  <% end %>
