<h2><%= @doctor.name %></h2>
<p>Department: <%= @doctor.department %> </p><br>
Appointments:
  <% @doctor.appointments.each do |i| %>
    <%= i.appointment_datetime.strftime("%B %e, %Y at %H:%M") %> ---
    <%= link_to i.patient.name, patient_path(i.patient) %>
    <br>
  <% end %>
