<ul>
  <% @doctor.appointments.all.each do |appointment| %>
    <li><%=link_to appointment.patient.name, patient_path(appointment.patient)%> <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
  <%end%>

</ul>