<%= @doctor.appointments.each do |appointment| %>
  <!-- shows all of a doctor's appointment times in a human readable format -->
  <p><%= appointment.appointment_datetime.strftime("%B %d, %Y at %R")%></p>
  <!-- links to the patients show page by name for each appointment -->
  <p><%= link_to appointment.patient.name, patient_path(appointment)%></p>
<% end %>