<h1><%= @doctor.name %></h1>
Department: <%= @doctor.department %>

<h2>Appointments</h2>
<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.patient_name, patient_path(appointment.patient) %>:
      <%= appointment.date_and_time %>
    </li>
  <% end %>
</ul>
