<h2> <%= @doctor.name %></h2>

<ul>
<% Doctor.all. each do |doctor| %>
  <li><%= doctor.appointments %><br>
  <li><%= doctor.patients.name %><br>
    <li><%= link_to doctor.patients, patients_path(@patient) %></li>


<% end %>
</ul>
