<h3><%=@doctor.name %></h3><h4>(<%= @doctor.department %>)</h4>
<ul>
  <% @doctor.appointments.each do |a| %>
  <li>
    <%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to a.patient.name, patient_path(a.patient) %>
  </li>
  <% end %>
</ul>