<% @doctor.appointments.each do |appointment| %>
<ul>
  <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%> <%=  link_to appointment.patient.name, patient_path(appointment.patient) %>  </li>
</ul>
  <% end %>
