<h2> <%= @doctor.name %> </h2>

Appointments:
  <% @doctor.appointments.each do |appointment| %>
    <p> Appointment: </p>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> 
    <% #binding.pry %>
    <p> Patient: </p>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  <% end %>


