<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <h1> <%=@doctor.name%></h1>
    <h3><%=@doctor.department%></h3>
    <ul>
        <% @doctor.appointments.each do |appointment|%>
        <li><%=link_to appointment.patient_name, patient_path( appointment.patient)%> - <%=appointment.display_appointment%></li>
        <%end%>
    </ul>
</body>

</html>