<%@doctor.appointments.each do |appointment| %>
<%=link_to appointment.patient.name, patient_path(appointment.patient)%>
<p><%=appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M")%></p>

<%end %>