<h2><%= @doctor.name %></h2>
<p>Department: <%= @doctor.department %></p>

<% unless @doctor.no_appointments? %>
  <p>Appointments</p>
  <ul>
    <% @doctor.appointments.each do |apt| %>
      <li><%= apt.appt_time %> - <%= link_to apt.patient_name, patient_path(apt.patient) %></li>
    <% end %>
  </ul>
<% end %>
