<h1><%= @doctor.name %> | <%= @doctor.department %></h1>
<h3>Appointments:</h3>
<% @doctor.appointments.each do |appointment| %>
  <%= link_to appointment.patient.name, patient_path(appointment.patient) %> |
  <%= appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %><br>
<% end %>
