
<h1> <%= @doctor.name %> </h1>

<h1><% @doctor.appointments.each do |appointment| %>
  <ul>
    Appointment: <%= appointment.appointment_datetime.strftime("%B %-d, %Y at %R") %>
    with <%= link_to appointment.patient.name, appointment.patient %>
  </ul>
</h1>
<% end %>
