<h1><%= @doctor.name %></h1>

Patients:
   <% @doctor.appointments.each do |appointment| %>
   <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
   time: <%= appointment.appointment_datetime.strftime('%B %d, %Y') %> at <%= appointment.appointment_datetime.strftime('%H:%M') %>
   <% end %>
