
<h1><%= @doctor.name %></h1>
<h2>Appointments</h2>
<br></br>
<ul>
<% @doctor.appointments.each do |app| %>

<li>Patient: <%=link_to app.patient.name, patient_path(app.patient)%></li>
<li>Time: <%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
<br></br>

<%end%>
</ul>