<h1><%= @doctor.name %></h1>

<p>Department: <%= @doctor.department %></p>

<p>Appointments:</p>
<% @doctor.appointments.each do |appointment| %>
  <p><%= link_to appointment.patient.name, patient_path(appointment.patient) %> at <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>
<% end %>
