<h1>Doctor</h1>

Appointments: 
<% @doctor.appointments.each do |appointment| %>
  <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
<% end %>

Appointment times: 
<% @doctor.appointments.each do |appointment| %>
  <%= link_to appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
<% end %>