<h1>Appointments</h1>

 <ul>
   <% @appointments.each do |apt| %>
     <li>
       Doctor: <%= link_to apt.doctor.name, doctor_path(apt.doctor) %><br>
       Patient: <%= link_to apt.patient.name, patient_path(apt.patient) %><br>
       Appointment Time: <%= link_to apt.human_form, appointment_path(apt) %>
     </li>
     <br><br>
   <% end %>
 </ul>
