<ul>
  <li><%= @appointment.appointment_datetime.strftime('%B %d, %Y') %></li>
  <li><%= @appointment.appointment_datetime.strftime('%H:%M') %></li>
  <li><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></li>
  <li><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></li>
</ul>
