<h1>
    <%= @appointment.appointment_datetime.strftime("%B %d, %Y") %> at <%= @appointment.appointment_datetime.strftime("%H:%M") %>
</h1>

<h3> Doctor: </h3> <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>

<h3> Patient:</h3> <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> 
