<h2>Doctor<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h2>
<h2>Patient <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h2>
<h3>Date: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h3>
