<h1>Doctor: <%= link_to @appt.doctor_name, doctor_path(@appt.doctor) %></h1>
<h1>Patient: <%= link_to @appt.patient_name, patient_path(@appt.patient) %></h1>
<h1>Time and Date: <%= @appt.time_date %></h1>
