<h1><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></h1>
<p>Doctor: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %> - Patient: <%= link_to @appointment.patient_name, patient_path(@appointment.patient) %></p>
