
<h3>Doctor Name: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor_id) %></h3><br />

<h3>Patient Name: <%= link_to @appointment.patient_name, patient_path(@appointment.patient_id) %></h3><br />

<%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
