<h1>Appointment for <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h1>
<h3>Date: <%= @appointment.appointment_datetime %></h3>
<h3>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
