
<h2>Appointment</h2>
<p><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></p>
<p>Doctor: <%= link_to @doctor.name, doctor_path(@doctor) %></p>
<p>Patient: <%= link_to @patient.name, patient_path %></p>
