<h2><%= @appointment.appointment_datetime %></h2>
<p>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) if @appointment.doctor %></p>
<p>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) if @appointment.patient%></p>
