<h2><%= @appointment.appointment_datetime %></h2>

<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> <br>


<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> <br>

<%= @appointment.appointment_datetime.to_formatted_s(:long) %>
