<h1>Appointments</h1>

<p>Time: <%= @appointment.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %></p>
<p>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor.id) %></p>
<p>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient.id) %></p>
