<h3><a href = "/doctors/<%= @appointment.doctor.id %>"><%= @appointment.doctor.name %></a></h3>
<br>
<h4><a href = "/patients/<%= @appointment.patient.id %>"><%= @appointment.patient.name %></a></h4>
