<h1>Appointments</h1>

<h2><%= @appointment.appointment_time %></h2>
<h3>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
<h3>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h3>