<h1>Appointment Page</h1>
Patient Name: <%= @patient_name %></br>
Age: <%= @patient_age %></br>
Doctor: <%= link_to @appointment_doctor_name, doctor_path(@appointment.doctor.id) %></br>
Appointment Time: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %I:%M%p") %>
