<h1>Apppointment <%= @appointment.id %></h1>

<ul>
  <li>
    <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
  </li><br />
  <li>
    <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
  </li>
</ul>
