<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)  %>
</p>
