<h3>Appointments</h2>

<ul>
<% @appointments.each do |appointment| %>

 <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
  <li><%= link_to appointment.patient_id, patients_path(@patient)  %><br>
      <li><%= link_to appointment.doctor_id, doctors_path(@doctor) %><br>
<% end %>
</ul>
