<h1>Appointment</h1>

<label>Doctor</label>
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%></p>

<label>Patient</label>
<p><%= link_to @appointment.patient.name, patient_path(@appointment.patient)%></p>
