<h1>Appointments</h1>

<ul>
  <li>Patient: <%= link_to @appointment.patient_name, @appointment.patient %></li>
  <li>Doctor: <%= link_to @appointment.doctor_name, @appointment.doctor %></li>
  <li>Appointment Details: </strong> <%= @appointment.date_and_time %></li>
</ul>
