<h1>
<%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%I") %>
</h1>
<div class="appointment">
  Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>
  Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
</div>
