<h1>Appointment Page:</h1>

Doctor: <%= link_to @appointment.doctor_name,  doctor_path(@appointment.doctor) %> <br/>

Patient: <%= link_to @appointment.patient_name,  patient_path(@appointment.patient) %> <br/>

Date and Time: <%= @appointment.date_time %> <br/>