<ul>
  <li><%= @appointment.appointment_datetime.strftime("%B %d, %Y") %> at <%= @appointment.appointment_datetime.strftime("%H:%M") %>, <%= link_to @appointment.doctor.name, @appointment.doctor %>, <%= link_to @appointment.patient.name, @appointment.patient %></li>
</ul>
