<h1>appointments</h1>
<ul>
<li>Name:<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></li>

<br>
<li><%=link_to @appointment.patient.name, patient_path(@appointment.patient) %></li>

<%=@appointment.time_str %>