<h2><%= Doctor/Patient Appointment %></h2>

<h3> <%= link_to @appointment.doctor.name, doctor_path(@appointment) %></h3>
<h3> <%= link_to @appointment.patient.name, patient_path(@appointment) %></h3>
