<h2>Hello, <%= link_to @appointment.patient_name, patient_path(@appointment.patient)%></h2>
  <h4>Your appointment is with <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor)%> at <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%></h4>
 
