<h1><%= @appointment.appointment_datetime %></h1>

<ul>
  <%= @appointment.appointment_datetime.strftime("%B %e, %Y at %k:%M") %>
  <li><%= link_to @appointment.doctor.name , doctor_path(@appointment.doctor) %> </li>
  <li><%= link_to @appointment.patient.name , patient_path(@appointment.patient) %> </li>

</ul>
