<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p> <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
<p> <%= @appointment.appt_datetime %> </p>
