<h2>Your appointment</h2>

<h4>Time: <%= @appointment.appointment_datetime.strftime('%B %d, %Y at %I:%M') %></h4>

<h4>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> </h4>

<h4>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> </h4>