<% @appointment.doctor.name %>
  <%= link_to @appointment.doctor, doctor_path(@appointment.doctor) %>
</p>
  <% @appointment.patient.name %>
  <%= link_to @appointment.patient, patient_path(@appointment.patient) %>
