<h2>Appointment Date and Time:</h2>
<p><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>

<br>

<p>Patient Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
<p>Doctor Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
