<h1><%= @appointment.readable_datetime %></h1>

<h3><%= link_to @appointment.patient.name, patient_path(@appointment.patient)%> to see <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
