
<h3><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M %P")  %></h3>
  <p>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient)%></p>
  <p>Doctor: Dr. <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
