<h2><%= @appointment.doctor %></h2>
    <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor_id) %>

<h2><%= @appointment.patient %></h2>
    <%= link_to @appointment.patient.name, patient_path(@appointment.patient_id) %>
