<h1>Details about your appointment:</h1>

<h2>Appointment time: <%= @appointment.time %></h2>
<h2>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h2>
<h2>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h2>