<h2><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h2><br></br>
<p>Doctor:</p> <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br></br>
<p>Patient:</p> <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br></br>


