<h3>Date</h3>
<p><%=@appointment.datetime_s%></p>

<h3>Patient</h3>
<p><%=link_to(@appointment.patient.name, patient_path(@appointment.patient))%></p>

<h3>Doctor</h3>
<p><%=link_to(@appointment.doctor.name, doctor_path(@appointment.doctor))%></p>
