<h2><%= @appointment.appointment_datetime %></h2>
Patient:<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
Doctor:<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> 
