<h1>Appointment Details</h1>

<h2>Appointment for: <%=link_to @appointment.patient.name, patient_path(@appointment.patient)%></h2>

<h3>Doctor: <%=link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%></h3>
<h2><%=@date%></h2>
