<h1>Appointment on <%= @appointment.appointment_datetime.strftime('%B %-d, %Y at %H:%M') %></h1>
<h2><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> will be meeting with <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h2>
