<h1>Appointment Info:</h1>
<p>Date and Time: <%= @appointment.format_datetime %></p>
<p>Doctor: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %></p>
<p>Patient Name: <%= link_to @appointment.patient_name, patient_path(@appointment.patient) %></p>
