<h1>Appointment: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h1>


<h3><p>Doctor's Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p></h3>
<p>Patient's Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
