<h3>Appointment</h3>
<p>Date: <%= @appointment.appointment_datetime.strftime("%B %d, %Y") %> at <%= @appointment.appointment_datetime.strftime("%I:%M") %></p>
<p>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
