<h1>Your Appointment</h1>
 <p><%= @appointment.appt_time %></h3></p>
 <p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
 <p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
