<h1>Appointment Information</h1>
  <p>Date: </p>
  <p>Time: </p>
  <p>Patient Name: <%= link_to @appointment.patient_name, patient_path(@appointment.patient)%></p>
  <p>Doctor: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor)%></p>