<h1>Here's the appointment info!</h1>
Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>
Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>
Time: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %I:%M%p") %>
