<h2> Appointments </h2>

	<% appointments.each do |appointment| %>
	<%= @appointment_datetime.strftime(("%B %d, %Y") at ("%H:%M")) %>
		<%= "#{doctor.name} - #{doctor.department}" %>
		<%= "#{patient.name} - #{patient.age}" %>
	<% end %>

