<h1>Seattle Grace Hospital Appointments</h1><br>
<label>Appointment Datetime:</label>
<%= @appointment.appointment_datetime %><br>
<label>Doctor:</label>
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>
<label>Patient:</label>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>
