<h1>Appointment for Dr. <%= link_to @appointment.doctor.name, @appointment.doctor %></h1>
<h2>Patient: <%= link_to @appointment.patient.name, @appointment.patient %></h2>
<p>On: <%= @appointment.human_datetime %></p>
