<h2>Appointment</h2>

<p>
  Time and Date:
  <%= @appointment.time %>
<p>
  Patient:
  <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
<p>
  Doctor:
  <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
