<h2>Appointment:
  <%= @appointment.display_appointment %>
</h2>

<p>
  Patient:
    <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
</p>

<br><br>

<p>
  Doctor:
    <%=link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
</p>
