<h2>Appointment at <%= @appointment.appointment_datetime %></h2>

<h3>The doctor is <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
<h3>He will be working with <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h3>
