<h2>Individual Appointment</h2> 
 <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> has an appointment on 
     <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %> with Dr. 
     <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%> 
     