<h2> Appointment Details: </h2>

<p>Date & Time: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %I:%M%p")  %></p>
<p>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p>Patient Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
