<h1>Your Appointment</h1>
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) if @appointment.doctor %>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) if @appointment.patient %>
