<h2>Appointment</h2>


<p><%=link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>
<%= @appointment.appointment_datetime %></p>