<%= @appointment.doctor.name %>
  <p><%= link_to @appointment.doctor, doctor_path(@appointment.doctor) %></p>


  <%= @appointment.patient.name %>
  <p><%= link_to @appointment.patient, patient_path(@appointment.patient) %></p>
