<p id="notice"><%= notice %></p>

<h3>Appointments</h3>
Patient Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient)%>
Doctor's Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%>
Appointment Time: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
