<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment datetime:</strong>
  <%= @appointment.appointment_datetime %>
</p>

<p>
  <strong>Doctor:</strong>
	<%= link_to @appointment.doctor.name, @appointment.doctor %>
</p>

<p>
  <strong>Patient:</strong>
	<%= link_to @appointment.patient.name, @appointment.patient %>
</p>

