<p>Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor if @appointment.doctor%></p>
<p>Patient: <%= link_to @appointment.patient.name, @appointment.patient if @appointment.patient%></p>
