<h3>Appointments</h3>

<table><th>time</th><th>patient</th><th>doctor</th>

  <tr><td><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></td>
  <td><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></td>
  <td><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></td></tr>


</table>
