<h3><%= @appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></h3>
<br>
<h4><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h4>
<br>
<h4><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h4>
