<h1>Appointments</h1>
<ul>


<% @appointments.each do |appt| %>
  <li>
  <%= link_to appt.doctor.name, doctor_path(appt.doctor) %>, Patient: <%= link_to appt.patient.name, patient_path(appt.patient) %>
  </li>

<% end %>

</ul>
