<h2> Appointment </h2>

<p> Doctor: </p> 
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>

<p> Patient: </p> 
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>