<h1>Appointment For <%= link_to @appointment.patient.name, @appointment.patient %></h1>
<h3>Time: <%= @appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %></h3>
<h3>Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></h3>
