
<ul>
  <li><%= @appointment.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %> <br>Patient: <%= link_to @appointment.patient.name, @appointment.patient %> <br>
  Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></li> <br>
</ul>
