<h1>Appointment at <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h1>
Patient's Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>
Doctor's Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>