<h2>Appointment: <%= @appointment.date_time %></h2>
<p><strong>Doctor:</strong><%= link_to @appointment.doctor.name, @appointment.doctor %></p>
<p><strong>Patient:</strong><%= link_to @appointment.patient.name, @appointment.patient %></p>
