<h2>Appointment</h2>
<p>
  Date: <%= @appointment.appointment_datetime.strftime('%B %d, %Y') %>
  <br>
  Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
  <br>
  Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
</p>

