<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Appointment Page</title>
</head>
<body>
  <h2><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h2>
  <h2><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h2>
</body>
</html>
