<p>Patient Name:</p>
<p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p><br></br>
<p>Doctor Name:</p>
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
