<h1>Appointment</h1>
Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient)%><br>
Date/Time: <%=@appointment.appointment_datetime.strftime("%B %d, %Y at %l:%M")%><br>

Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%>
