<h1> Viewing an appointment </h1>
Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
<br>
<%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>
<br>
Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%>