<h2>Upcoming Appointment Info</h2>

<h3>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
<h4>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h4>
