<h1>Appointment Details</h1>
<p>This page displays the date, time, patient, and doctor for a particular appointment. </p>
<br />
Date & Time: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br /> 
Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br />
Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br />
