<h1><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h1>
<h3><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
<h4><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h4>
