<h1>Appointment#show</h1>

<ol>
  <li>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></li>
  <li>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></li>
</ol>
