<h1><%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %></h1>
<h3><%= link_to @appointment.patient_name, patient_path(@appointment.patient) %></h3>
<p><%= @appointment.readable_time %></p>
