<h1>Appointment</h1>

<h2><%= @appointment.date_string %></h2>
<h3><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h3>
<h3><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
