<h1><%=@appointment.appointment_datetime%></h1>

Doctor: <%=link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%><br>
Doctor: <%=link_to @appointment.patient.name, patient_path(@appointment.patient)%>
