<p><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %l:%M") %></p>  <!-- January 12, 2016 at 3:00 -->
<p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
