<h1>Appointment Details</h1>

<h3>Date and Time:</h3>
<p><%= @appointment.appointment_datetime %></p>

<h3>Doctor:</h3>
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>

<h3>Patient:</h3>
<p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
