
<h1><%= @appointment.doctor %></h1>
    <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor_id) %>

<h1><%= @appointment.patient %></h1>
    <%= link_to @appointment.patient.name, patient_path(@appointment.patient_id) %>
