<h1><%= @appointment.appointment_datetime.strftime('%B %d, %Y at %k:%M') %></h1>

<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
