<h2><u>Appointment Information</u></h2>

<ul>
  <li><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></li>
  <li><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></li>
  <li><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
</ul>
