<h1>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h1>
<h2>With: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h2>
<h3>On: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h3>
