<h3>Doctor: <%= link_to "#{@appointment.doctor_name}", doctor_path(@appointment.doctor)%></h3><br>
<h3>Patient: <%= link_to "#{@appointment.patient_name}", patient_path(@appointment.patient) %></h3><br>
<h3>Appointment: <%= @appointment.appointment_datetime %></h3><br>
