<h1>Appointment for <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> on <%= @appointment.datetime_to_string %></h1>
<h3>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
