<h2>Upcoming Appointment on <%= @appointment.display_datetime %></h2>

<p><%= link_to @appointment.patient_name, patient_path(@appointment.patient) %> with Doctor: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %></p>
