<h1>Appointment</h1>

<h2><%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h2>
<li>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><li>
<li>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></li>
